footer#footer
  .footer-inner.bg-white
    .container
      .row
        .col-sm-3.col-lg-2.visible-lg
          img.footer-logo(src="img/footer-logo.png")
        .buy-links.col-xs-6.col-sm-4.col-lg-2
          h3 Buy
          ul.links
            li
              a(href="#" title="") Buying Guide
            li
              a(href="#" title="") Browse All Listings
            li
              a(href="#" title="") Real Estate
            li
              a(href="#" title="") Franchises
        .sell-links.col-xs-6.col-sm-4.col-lg-2
          h3 Sell
          ul.links
            li
              a(href="#" title="") Selling Guide
            li
              a(href="#" title="") Value A Business
            li
              a(href="#" title="") Selling Fees
            li
              a(href="#" title="") Brokers
        .discover-links.col-xs-12.col-sm-4.col-lg-2
          h3 Discover
          ul.links
            li
              a(href="#" title="") Popular Places
            li
              a(href="#" title="") Business Opportunites
            li
              a(href="#" title="") Servies / Jobs
            li
              a(href="#" title="") EDOs &amp; Incentives
        .btns-group.col-xs-6.col-sm-3.col-lg-2
          a.btn.btn-sm.btn-primary(href="#") Contact Us
          a.btn.btn-sm.btn-success(href="#") Support
        .social-wrap.col-xs-6.col-sm-3.col-sm-offset-1.col-lg-2.col-lg-offset-0
          h3 Let's get social
          ul.social-links
            li
              a(href="#").facebook
                span.icon-facebook
            li
              a(href="#").twitter
                span.icon-twitter
            li
              a(href="#").linkedin
                span.icon-linkedin
  .categories.bg-gray
    .container
      .row
        .col-sm-9
          ul.links.list-dots
            li
              a(href="#") AGRICULTURE
            li
              a(href="#") MINING
            li
              a(href="#") UTILITIES
            li
              a(href="#") CONSTRUCTION
            li
              a(href="#") MANUFACTURING
            li
              a(href="#") WHOLESALE TRADE
            li
              a(href="#") RETAIL TRADE
            li
              a(href="#") TRANSPORTATION
            li
              a(href="#") WAREHOUSING
            li
              a(href="#") INFORMATION
            li
              a(href="#") FINANCE AND INSURANCE
            li
              a(href="#") REAL ESTATE &amp; RENTAL  LEASING
            li
              a(href="#") PROFESSIONAL
            li
              a(href="#") SCIENTIFIC
            li
              a(href="#") TECHNICAL SERVICES
            li
              a(href="#") MANAGEMENT
            li
              a(href="#") ENTERPRISES
            li
              a(href="#") ADMINISTRATIVE
            li
              a(href="#") SUPPORT 
            li
              a(href="#") WASTE MANAGEMENT
            li
              a(href="#") REMEDIATION SERVICES
            li
              a(href="#") EDUCATIONAL SERVICES
            li
              a(href="#") HEALTH CARE  SOCIAL ASSISTANCE
            li
              a(href="#") ARTS, ENTERTAINMENT
            li
              a(href="#") RECREATION
            li
              a(href="#") ACCOMMODATION
            li
              a(href="#") FOOD SERVICES
            li
              a(href="#") OTHER SERVICES
            li
              a(href="#") PUBLIC ADMINISTRATION
        .connections-wrap.col-sm-3
          .connections
            p.figure 012,988,014
            p.title Connections Made
  .copyright
    .container
      ul.list-unstyled
        li
          span &copy; 2016 TheUSAX.com All Rights Reserved
        li
          a(href="#") Terms &amp; Conditions
        li
          a(href="#") Privacy Policy