aside.sidebar-info

  .sb-segment
    .sidebar-title Local Services
    .media
      .media-left.media-middle
        a(href='#')
          img.media-object(src='img/tmp/recent-news.png', alt='...')
      .media-body
        h4.media-heading Morgan Eliss Insurance
        p Insurance, Business, Personal
    .media
      .media-left.media-middle
        a(href='#')
          img.media-object(src='img/tmp/recent-news.png', alt='...')
      .media-body
        h4.media-heading Chase Mortgage
        p Mortgage, 3.2%Apr, Business, Loan
    .media
      .media-left.media-middle
        a(href='#')
          img.media-object(src='img/tmp/recent-news.png', alt='...')
      .media-body
        h4.media-heading Sandy Toppergo
        p Realtor, Residential, Commercial
  hr.divider

  .sb-segment
    .sidebar-title News & Events
    .media
      .media-left.media-middle
        a(href='#')
          img.media-object(src='img/tmp/recent-news.png', alt='...')
      .media-body
        h4.media-heading New City Hall Grand Opening
        p Half a year in development
    .media
      .media-left.media-middle
        a(href='#')
          img.media-object(src='img/tmp/recent-news.png', alt='...')
      .media-body
        h4.media-heading 12 Benefits of the Beach
        p You many have heard common
    .media
      .media-left.media-middle
        a(href='#')
          img.media-object(src='img/tmp/recent-news.png', alt='...')
      .media-body
        h4.media-heading Top 10 Places to Live
        p Amazing beaches, friendly and
    button.btn.btn-default.btn-xs Show more
  hr.divider

  .sb-segment
    .sidebar-title Local Insentives
    .card.card-xs
      .card-title On the Job Training (OJT)
      ul.list-dots
        li
          a(href="#") Bank Financing
        li
          a(href="#") Distressed
        li
          a(href="#") $203 Cash Flow
        li
          a(href="#") Waterfront
    .card.card-xs
      .card-title Road Impact Fee Mitigation
      ul.list-dots
        li
          a(href="#") Incentive
        li
          a(href="#") Small Business
        li
          a(href="#") Tax
        li
          a(href="#") Local Community
        li
          a(href="#") Credit
    .card.card-xs
      .card-title On the Job Training (OJT)
      ul.list-dots
        li
          a(href="#") Bank Financing
        li
          a(href="#") Distressed
        li
          a(href="#") $203 Cash Flow
        li
          a(href="#") Waterfront

    button.btn.btn-default.btn-xs Show more
