aside.sidebar-opportunity
	.sidebar-container
		.summary-title Your Summary
		.summary-seg
			.media
				.media-left.media-middle
					a(href='#')
						img.media-object(src='img/tmp/bayfront.jpg', alt='...')
				.media-body.media-middle
					h4.media-heading New City Hall Grand Opening
					h4.media-pricing $1,250,000
		.summary-seg
			.seg-title Details
			h5.semibold-sm-success Restaurants &amp; Other Eating Places / Caterers / Full-Service Restaurants
			ul.tags
				li
					a(href="#") Owner Financing
				li
					a(href="#") Distressed
				li
					a(href="#") 12 Yrs In Business
				li
					a(href="#") 21 Employees
				li
					a(href="#") $540k Revenue
				li
					a(href="#") $230k Cash Flow
				li
					a(href="#") Waterfront
		.summary-seg
			.seg-title About
			h5.regular-sm This stunning ranch leaves nothing to desire. Located in a cul-de-sa of Reunion's chic "Back Nine," and just around the corner from Buffalo Run Golf Course it...
		.summary-footer
			hr.divider
			.summary-seg
				a.btn.btn-md.btn-gray-light Preview
				a.btn.btn-md.btn-wide.btn-success Post The Listing
			.summary-seg
				.link-button-group
					a(href="#")
						i.fa.fa-clock-o
						| Save For Later
					a(href="#")
						i.fa.fa-close
						|Delete This Listing