aside.sidebar-search-filter
  ul.search-type-results
    li
      button.active
        span All Opportunities
        span.badge.badge-sqaure 342
    li
      button
        span Businesses For Sale
        span.badge.badge-sqaure 98
    li
      button
        span Commercial & Industrial
        span.badge.badge-sqaure 23
    li
      button
        span New Franchises
        span.badge.badge-sqaure 232
    li
      button
        span Direct Marketing
        span.badge.badge-sqaure 11
    li
      button
        span Deals & Projects
        span.badge.badge-sqaure 8

  .sidebar-title Filter Results
  .input-group.input-icon
    input.form-control.search(type='text', placeholder='Search The Exchange')
    button.btn.btn-link.icon.icon-search

  hr.divider
  .sb-segment
    .sb-subheading
      .sb-subtitle Category
      button.btn.btn-default.btn-xs See All
    form
      .checkbox
        label
          input(type='checkbox', checked)
          | All Categories 
          span.ammount (93)
      .checkbox
        label
          input(type='checkbox')
          | Real Estate 
          span.ammount (72)
      .checkbox
        label
          input(type='checkbox')
          | Food Services 
          span.ammount (43)
      .checkbox
        label
          input(type='checkbox')
          | Construction 
          span.ammount (29)
      .checkbox
        label
          input(type='checkbox')
          | Rental & Leasing 
          span.ammount (12)
  .sb-segment
    .sb-subheading
      .sb-subtitle Price Range
      div
        span#price-range-value-min.range-value
        span.range-value  - 
        span#price-range-value-max.range-value
    #price-range.noUi-target.noUi-ltr.noUi-horizontal.noUi-background
  .sb-segment
    .sb-subheading
      .sb-subtitle Sale Type
    form
      .checkbox
        label
          input(type='checkbox', checked)
          | All Sale Types
          span.ammount (298)
      .checkbox
        label
          input(type='checkbox')
          | Owner Financing 
          span.ammount (73)
      .checkbox
        label
          input(type='checkbox')
          | Distressed 
          span.ammount (12)
      .checkbox
        label
          input(type='checkbox')
          | Bank Financing 
          span.ammount (25)
      .checkbox
        label
          input(type='checkbox')
          | Asset Sale 
          span.ammount (11)
      .checkbox
        label
          input(type='checkbox')
          | Address Provided 
          span.ammount (72)
  .sb-segment
    .sb-subheading
      .sb-subtitle Years In Business
      div
        span#years-range-value-min.range-value
        span.range-value  - 
        span#years-range-value-max.range-value
    #years-range.noUi-target.noUi-ltr.noUi-horizontal.noUi-background
  .sb-segment
    .sb-subheading
      .sb-subtitle Area Search
      button.btn.btn-default.btn-xs Edit
    form
      .checkbox
        label
          input(type='checkbox', checked)
          | Sarasota-Bradenton
          span.ammount (73)
      .checkbox
        label
          input(type='checkbox')
          | South Florida 
          span.ammount (12)
      .checkbox
        label
          input(type='checkbox')
          | Tampa Area 
          span.ammount (82)
      .checkbox
        label
          input(type='checkbox')
          | All of Florida 
          span.ammount (298)
