.modal {
  .modal-header {
    border: none;
    text-align: center;
  }
  .modal-subtitle {
    margin-bottom: 15px;
    text-align: center;
  }
}
@include mq(tablet-up) {
  .modal {
    .modal-body {
    }
  }
}