.noUi-target {
  border: none;
  border-radius: 20px;
  box-shadow: none;
}
.noUi-horizontal {
  height: 6px;

  .noUi-handle {
    height: 20px;
    width: 20px;
    top: -7px;
  }
}
.noUi-background {
  background-color: $brand-gray-light;
}
.noUi-connect {
  background-color: $brand-gray;
}
.noUi-handle {
  cursor: pointer;
  background: $brand-gray-lighter;
  border-radius: 50%;
  border: 6px solid #fff;
  box-shadow: 0px 0px 0px 1px rgba(164, 169, 173, 1);

  &:before, &:after {
    display: none;
  }
}
.range-value {
  color: $brand-gray-dark;
}