extends ./partials/_layout.pug

block content
  .container
    .row
      .col-sm-6
        br
        h3 Buttons
        hr
        h4 Large Buttons
        a.btn.btn-success.btn-lg(href="#")
          | Large Success
        span  &nbsp; 
        code .btn.btn-success.btn-lg
        br
        br
        a.btn.btn-primary.btn-lg(href="#")
          | Large Primary
        span  &nbsp; 
        code .btn.btn-primary.btn-lg
        br
        br
        a.btn.btn-default.btn-lg(href="#")
          | Large Default
        span  &nbsp; 
        code .btn.btn-default.btn-lg
        br
        br
        a.btn.btn-gray.btn-lg(href="#")
          | Large Gray
        span  &nbsp; 
        code .btn.btn-gray.btn-lg
        br
        br
        a.btn.btn-link.btn-lg(href="#")
          | Large Link
        span  &nbsp; 
        code .btn.btn-link.btn-lg
        hr
        h4 Medium Buttons
        a.btn.btn-md.btn-success(href="#")
          | Medium Success
        span  &nbsp; 
        code .btn.btn-md.btn-success
        br
        br
        a.btn.btn-md.btn-primary(href="#")
          | Medium Primary
        span  &nbsp; 
        code .btn.btn-md.btn-primary
        br
        br
        a.btn.btn-md.btn-default(href="#")
          | Medium Default
        span  &nbsp; 
        code .btn.btn-md.btn-default
        br
        br
        a.btn.btn-md.btn-gray(href="#")
          | Medium Gray
        span  &nbsp; 
        code .btn.btn-md.btn-gray
        br
        br
        a.btn.btn-link.btn-md(href="#")
          | Medium Link
        span  &nbsp; 
        code .btn.btn-link.btn-md
        hr
        h4 Small Buttons
        a.btn.btn-success.btn-sm(href="#")
          | Small Success
        span  &nbsp; 
        code .btn.btn-success.btn-sm
        br
        br
        a.btn.btn-primary.btn-sm(href="#")
          | Small Primary
        span  &nbsp; 
        code .btn.btn-primary.btn-sm
        br
        br
        a.btn.btn-default.btn-sm(href="#")
          | Small Default
        span  &nbsp; 
        code .btn.btn-default.btn-sm
        br
        br
        a.btn.btn-gray.btn-sm(href="#")
          | Small Gray
        span  &nbsp; 
        code .btn.btn-gray.btn-sm
        br
        br
        a.btn.btn-link.btn-sm(href="#")
          | Small Link
        span  &nbsp; 
        code .btn.btn-link.btn-sm
        hr
        h4 Extra Small Buttons
        a.btn.btn-success.btn-xs(href="#")
          | Extra Small Success
        span  &nbsp; 
        code .btn.btn-success.btn-xs
        br
        br
        a.btn.btn-primary.btn-xs(href="#")
          | Extra Small Primary
        span  &nbsp; 
        code .btn.btn-primary.btn-xs
        br
        br
        a.btn.btn-default.btn-xs(href="#")
          | Extra Small Default
        span  &nbsp; 
        code .btn.btn-default.btn-xs
        br
        br
        a.btn.btn-gray.btn-xs(href="#")
          | Extra Small Gray
        span  &nbsp; 
        code .btn.btn-gray.btn-xs
        br
        br
        a.btn.btn-link.btn-xs(href="#")
          | Extra Small Link
        span  &nbsp; 
        code .btn.btn-link.btn-xs
      .col-sm-6
        br
        h3 Headings and Parapraph
        hr
        h1 Heading 1
        h2 Heading 2
        h3 Heading 3
        h4 Heading 4
        h5 Heading 5
        h6 Heading 6
        p Bacon ipsum dolor amet pig beef turkey pancetta. Pork loin shankle short loin ham hock rump strip steak. Venison shank beef ribs meatloaf turducken pig kevin spare ribs swine porchetta short ribs. Pork loin kevin hamburger, kielbasa shankle salami spare ribs.
        h3 Text Colors
        hr
        h3.color-primary
          | Primary
          span  &nbsp;
          code .color-primary
        h3.color-success
          | Success
          span  &nbsp;
          code .color-success
        h3.color-gray-dark
          | Gray Dark
          span  &nbsp;
          code .color-gray-dark
        h3.color-gray-lighter
          | Gray Lighter
          span  &nbsp;
          code .color-gray-lighter
        h3.color-gray
          | Gray
          span  &nbsp;
          code .color-gray
        h3.color-white
          span(style="background:#000;") White
          span  &nbsp;
          code .color-white
        br
        h3 Text Styles
        hr
        p.light-xs
          | Text styling
          span  &nbsp; 
          code .light-xs
        p.regular-xs
          | Text styling
          span  &nbsp; 
          code .regular-xs
        p.semibold-xs
          | Text styling
          span  &nbsp; 
          code .semibold-xs
        p.bold-xs
          | Text styling
          span  &nbsp; 
          code .bold-xs
        p.light-ssm
          | Text styling
          span  &nbsp; 
          code .light-ssm
        p.regular-ssm
          | Text styling
          span  &nbsp; 
          code .regular-ssm
        p.semibold-ssm-white
          span(style="background:#000;") Text styling
          span  &nbsp; 
          code .semibold-ssm-white
        p.regular-sm
          | Text styling
          span  &nbsp; 
          code .regular-sm
        p.semibold-sm-primary
          | Text styling
          span  &nbsp; 
          code .semibold-sm-primary
        p.semibold-sm-success
          | Text styling
          span  &nbsp; 
          code .semibold-sm-success
        p.light-smd
          | Text styling
          span  &nbsp; 
          code .light-smd
        p.regular-smd
          | Text styling
          span  &nbsp; 
          code .regular-smd
        p.regular-smd-white
          span(style="background:#000;") Text styling
          span  &nbsp; 
          code .regular-smd-white
        p.semibold-smd-success
          | Text styling
          span  &nbsp; 
          code .semibold-smd-success
        p.semibold-smd-primary
          | Text styling
          span  &nbsp; 
          code .semibold-smd-primary
        p.regular-md
          | Text styling
          span  &nbsp; 
          code .regular-md
        p.semibold-md-primary
          | Text styling
          span  &nbsp; 
          code .semibold-md-primary
        p.semibold-md-success
          | Text styling
          span  &nbsp; 
          code .semibold-md-success
        p.regular-md-white
          span(style="background:#000;") Text styling
          span  &nbsp; 
          code .regular-md-white
        p.regular-slg
          | Text styling
          span  &nbsp; 
          code .regular-slg
        p.regular-slg-primary
          | Text styling
          span  &nbsp; 
          code .regular-slg-primary
        p.regular-lg-white
          span(style="background:#000;") Text styling
          span  &nbsp; 
          code .regular-lg-white
        p.regular-lg-primary
          | Text styling
          span  &nbsp; 
          code .regular-lg-primary
        p.regular-lg
          | Text styling
          span  &nbsp; 
          code .regular-lg
        p.regular-lg-success
          | Text styling
          span  &nbsp; 
          code .regular-lg-success
        p.light-xl-white
          span(style="background:#000;") Text styling
          span  &nbsp; 
          code .light-xl-white
        p.regular-xl-white
          span(style="background:#000;") Text styling
          span  &nbsp; 
          code .regular-xl-white
        p.italic
          | Text styling
          span  &nbsp; 
          code .italic
    br
    br